:root {
    --melasistema-timeline-primary-color: #000000;
}
* {
    box-sizing: border-box;
}
.entry-content .timeline {
    max-width: 1280px;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--melasistema-timeline-primary-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after {
    left: -16px;
}
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.title-align-left {
    text-align: left;
}
.title-align-right {
    text-align: right;
}
@media screen and (max-width: 1024px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
    .title-align-right {
        text-align: left;
    }
}
.slide-in-left {
    transform: translateX(-100%);
    animation: slide-in-left 0.5s forwards;
}
.slide-in-right {
    transform: translateX(100%);
    animation: slide-in-right 0.5s forwards;
}
.slide-in-left,
.slide-in-right {
    opacity: 1;
}
@keyframes slide-in-left {
    to { transform: translateX(0); }
}
@keyframes slide-in-right {
    to { transform: translateX(0); }
}
